# Virtual Environment
venv/
env/
ENV/
.env
.venv
.ENV
.venv/
py3env/
py-env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
logs/

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules/
jspm_packages/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store