{% extends 'base.html' %}

{% block title %}{{ title }} - Crime Record Management System{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>{{ title }}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="{{ form.date.id_for_label }}">Date *</label>
                        {{ form.date }}
                        {% if form.date.errors %}
                            <div class="text-danger">
                                {{ form.date.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label for="{{ form.time.id_for_label }}">Time</label>
                        {{ form.time }}
                        {% if form.time.errors %}
                            <div class="text-danger">
                                {{ form.time.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="{{ form.crime.id_for_label }}">Crime *</label>
                        {{ form.crime }}
                        {% if form.crime.errors %}
                            <div class="text-danger">
                                {{ form.crime.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="{{ form.user.id_for_label }}">User *</label>
                        {{ form.user }}
                        {% if form.user.errors %}
                            <div class="text-danger">
                                {{ form.user.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="{{ form.officer.id_for_label }}">Officer *</label>
                        {{ form.officer }}
                        {% if form.officer.errors %}
                            <div class="text-danger">
                                {{ form.officer.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="form-group mb-3">
                <label for="{{ form.description.id_for_label }}">Description</label>
                {{ form.description }}
                {% if form.description.errors %}
                    <div class="text-danger">
                        {{ form.description.errors }}
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group mb-3">
                <a href="{% url 'fir_details' %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
